@model DomainClasses.Artist

@{
    ViewBag.Title = "Details";
}

<h1>Details: @Model.Name</h1>
<div id="container">
    <div class="row">     
        <div class="col-md-6">
            <h1>@Html.DisplayFor(a => a.Name)</h1>
            <h4>@Html.DisplayFor(a => a.BirthDate)</h4>
            <h4>@Html.DisplayFor(a => a.Origin)</h4>
        </div>

        <div class="col-md-6">
            <h4>@Html.DisplayFor(a => a.AboutInfo)</h4>
        </div>
    </div>

    <div class="row">
    <h1>Songs</h1>
    
        <div class="col-md-12">
            <table class="table">
                <tr>
                    <th>
                        Title
                    </th>
                    <th>
                        Artist
                    </th>
                    <th>
                        Year
                    </th>
                    <th>
                        Duration
                    </th>
                    <th>
                       Likes
                    </th>
                    <th></th>
                </tr>
            @foreach (var songs in Model.Songs)
            {
                <tr>
                    <td>@Html.DisplayFor(s => songs.Title)</td>
                    <td>@Html.DisplayFor(s => songs.Artist.Name)</td>
                    <td>@Html.DisplayFor(s => songs.Year)</td>
                    <td>@Html.DisplayFor(s => songs.Duration)</td>
                    <td>@Html.DisplayFor(s => songs.Likes)</td>
                
                </tr>
            }
            </table>
        </div>
 
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new {id = Model.Id}) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</div>