@model DomainClasses.Artist

@{
    ViewBag.Title = "Details";
}

<h1>Details: @Model.Name</h1>
<div id="container">
    <div class="row">     
        <div class="col-md-6">
            <h1>@Html.DisplayFor(a => a.Name)</h1>
            <h4>@Html.DisplayFor(a => a.BirthDate)</h4>
            <h4>@Html.DisplayFor(a => a.Origin)</h4>
        </div>

        <div class="col-md-6">
            <h4>@Html.DisplayFor(a => a.AboutInfo)</h4>
        </div>
    </div>

    <div class="row">
    <h1>Songs</h1>
    @foreach (var songs in Model.Songs)
    {
        <div class="col-md-12">

            @Html.DisplayFor(s => songs.Title)
        </div>
    }
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new {id = Model.Id}) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</div>